html, body {
        margin: 0;
        padding: 0;
        border: 0 none;
        overflow: hidden;
        width: 100%;
        height: 100%;
}

.x-file-wanted-checker {
    width:100%;
    height:18px;
    background-repeat:no-repeat;
    background-color:transparent;
    background-image:url(../images/row-check-sprite.gif);
}

.x-file-wanted-checker-on {
    background-position:-23px 2px;
}
.x-file-wanted-checker-off {
    background-position:2px 2px;
}
.x-file-wanted-checker-mixed {
    background-position:-48px 2px;
}

.x-window-tc .x-tool-close {
	width: 24px;
	height: 24px;
	background-image: url('../images/window-close.png');
}
.x-window-tc .x-tool-close-over {
	background-position: 0 0;
}

.hig-body .x-form-item {
	overflow: hidden;
	font-size: 11px;
	padding-left: 15px;
}
.hig-body .x-form-label {
	overflow: hidden;
	font-size: 11px;
}

.x-fieldset {
	padding: 10px 0px 10px 0px;
	margin-bottom: 5px;
	border: 0;
}

.turtle-btn .x-btn-text {
	background-image: url('../images/turtle-grey.png');
}
.x-btn-pressed.turtle-btn .x-btn-text {
	background-image: url('../images/turtle-blue.png');
}

.x-list-body * {
    zoom:1;
}

.x-list-body li {
    width: 100%;
    overflow:hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    white-space: nowrap;
    cursor:pointer;
    padding:3px 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
}

div.torrent_progress_bar.magnet {
    background-color: #e58181;
}
div.torrent_progress_bar.magnet.remain {
    background-color: #eee;
}
div.torrent_progress_bar.download {
    background-color: #41a6f6;
}
div.torrent_progress_bar.download.remain {
    background-color: #eee;
}
div.torrent_progress_bar.seed {
    background-color: #3cc350;
}
div.torrent_progress_bar.seed.remain {
    background-color: #45e25d;
}
div.torrent_progress_bar.stopped {
    background-color: #b0b0b0;
}
div.torrent_progress_bar.stopped.remain {
    background-color: #eee;
}
